.price{

  &__menu{

    &-item{

      &_link{
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }

  &__header{
    margin: 1.25rem 0;
    padding: 0.25rem 0;
    background-color: $primary;
    color: $white;
    border-radius: $border-radius;

    &-title{
    }

    &-price{
      text-align: center;
    }
  }

  &__group{

    margin: $grid-gutter-width 0;

    &-title{
      font-weight: bold;

      &_level-1{
        color: $primary;
        margin-bottom: 1.25rem;
        font-size: 1.625rem;
      }
      &_level-2{
        color: $primary;
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
      }

      &_level-3{
        color: $primary;
        margin-bottom: 1.125rem;
        font-size: 1.125rem;
        font-weight: normal;
      }
      &_level-4{
        color: $secondary;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: normal;
      }

    }

    &-short{
      padding: 0.5rem 0;

    }

    &-description{
      padding: 1.25rem;
      margin: 0 -0.5*$grid-gutter-width;
      background-color: lighten($primary, 20%);
    }

    &-accent{
      padding: 1.25rem 0.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    &-info{
    }


    &-item{
    }
  }

  &__list {
    font-size: 1.125rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;

    &-iteration{
      background-color: lighten($secondary, 50%);
    }

    &-title{
    }

    &-description{
    }

    &-price{
      text-align: center;
      color: $primary;
      font-weight: bold;
    }

  }

}
